body, html, .container-fluid {
  height: 100%;
  font-family: Arial;
}

.wrapper {
  min-height: 100%;
}

.page-header {
  padding-bottom: 9px;
  margin: 0px 0 20px;
  border-bottom: 1px solid #eee;
  font-size: 300%;
}

.measure {
  margin-bottom: 25px;
}

.footer {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: #cccccc;
  padding: 1px 15px;
  font-size: 90%;
  border-radius: .25rem;
  z-index: 100;
}

#device-measurements-menu span.badge {
  margin-left: 15px;
}

#main-content #device-measurements-menu.row {
  margin-bottom: 20px;
}

#waiting-window {
  position: fixed;
  margin: 0 auto;
  top: 25px;
  right: 25px;
  background: rgba(144, 144, 144, 0.84);
  color: white;
  max-width: 350px;
  border-radius: 3px;
  text-align: center;
  padding: 10px 75px;
  font-size: 120%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.90);
}

#waiting-window span.glyphicon {
  margin-right: 15px;
}

.animate-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

#main-menu .navbar-collapse {
  padding-top: 25px;
}

#main-menu ul, #main-menu li, #main-menu .navbar-collapse {
  width: 100%;
}

#main-menu ul li a {
  padding-left: 0;
  padding-right: 0;
}

#main-menu ul li.nav-item {
  width: 100%;
  border-bottom: 1px solid #585858;
  margin-bottom: 5px;
}

.measure .card-block .display-part:not([data-display-type="overview"]) {
  display: none;
}

.display-part[data-display-type="table"] {
  max-height: 500px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .container-fluid {
    height: auto;
  }

  .card-block {
    overflow-x: auto;
  }

  .card-block .display-part[data-display-type="chart"] {
    min-width: 1000px;
  }

  .footer {
    position: relative;
    width: 100%;
    text-align: center;
    right: 0;
    bottom: 0;
    border-radius: 0;
    padding: 10px 15px;
  }

  #waiting-window {
    left: 0;
    right: 0;
  }
}
